body {
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    margin: auto;
    padding: auto;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding: auto;
}

.button {
    font-size: 20px;
}

.field {
    display: grid;
}

.mrbump {
    display: grid;
}