body {
  font-family: "Indie Flower", cursive;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  padding: auto;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: auto;
}

button {
  text-transform: uppercase;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: bolder;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
}

.field {
  justify-content: center;
  text-align: center;
  grid-gap: 10px;
  height: 150px;
  width: 300px;
}

.mrbump {
  display: none;
  background-size: contain;
  height: 250px;
  width: 250px;
  transition: all 0.4s;
}

.field.up .mrbump {
  top: 0;
}
