body {
  font-family: "Indie Flower", cursive;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  padding: auto;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: auto;
}

button {
  text-transform: uppercase;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: bolder;
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

button:hover {
  background-color: gainsboro;
}

button::after {
  opacity: 0.2;
}

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  text-align: center;
  width: auto;
}

.field {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.mrbump {
  /* display: none; */
  background-size: 60%;
  transition: all 0.5s;
  position: absolute;
  top: 100%;
  height: 100%;
}

.field.up .mrbump {
  top: 0;
}

img {
  height: 200px;
  width: 400px;
}
